options {
	directory "/var/cache/bind";

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113


	//#FORWARDERS#

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;
	
	// allow recursive queries
	recursion yes;
	
	auth-nxdomain no;    # conform to RFC1035
	
	// ipv6 is great!
	listen-on-v6 { any; };
	
	// enable the rpz
	response-policy { zone "rpz.blacklist"; };
	
	// workaround for weird docker problem	
	session-keyfile "/var/run/named/session.key";

};
